{% include 'layout.html' %}


<div class="container">
    <div class="card">
        <div class="card-header">
            <strong>Criar novo pedido</strong>
        </div>
        <div class="card-body">
            <form method ="POST">
                <div class="form-group">
                    <label>Segunda</label>
                    <input type="text" class="from-control" name="menu" required>
                </div>
                <div class="form-group">
                    <label>Terça</label>
                    <input type="text" class="from-control" name="people_quantity" required>
                </div>
               


                </div>
                <div class="form-group">
                    <label>Quarta</label>
                    <input type="text" class="from-control" name="observation">
                </div>
                <div class="form-group">
                    <label>Quinta</label>
                    <input type="text" class="from-control" name="start_time" required>
                </div>

                <div class="form-group">
                    <label>Sexta</label>
                    <input type="text" class="from-control" name="end_time" required>
                </div>

                
                
                <button type="submit" class="btn btn-primary">Finalizar pedido</button>
            </form>
        </div>
    </div>
</div>